body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.main-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bingo-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pseudo-input-container {
    margin-bottom: 20px;
}
.bingo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #fff;
}
.bingo-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 300px;
    padding: 20px;
    background: linear-gradient(45deg, #000, #555);
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.bingo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
}
.bingo-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    color: #000;
    border: 1px solid #555;
}
.bingo-cell.checked {
    background-color: #4caf50;
    color: #fff;
}
.bingo-cell.bingo {
    background-color: #2196f3;
    color: #fff;
}
.bingo-message-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}
.bingo-message {
    font-size: 2.5em;
    font-weight: bold;
    color: #2196f3;
    display: none;
    animation: color-change 0.5s infinite;
}
.controls {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
}
.controls button,
.controls a {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.screenshot-button {
    background-color: #B48205;
}
.screenshot-button img {
    margin-right: 10px;
}
.restart-button {
    background-color: #2196f3;
}
.discord-button {
    background-color: #7289da;
}
.discord-button img {
    margin-right: 10px;
}
.twitch-button {
    background-color: #6441a5;
}
.twitch-button img {
    margin-right: 10px;
}
.pseudo-input {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}
.pseudo-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #2196f3;
    color: #fff;
}
.stats-container {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.stats-container p {
    margin: 5px 0;
}
.reset-stats-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.8em;
}
.stats-title {
    color: #f44336;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}
@keyframes color-change {
    0% { color: #2196f3; }
    25% { color: #e91e63; }
    50% { color: #ffeb3b; }
    75% { color: #4caf50; }
    100% { color: #2196f3; }
}
.pseudo-header {
    grid-column: span 5;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    display: none;
}
.footer {
    position: absolute;
    bottom: 10px;
    font-size: 1em;
    text-align: center;
    width: 100%;
}
.message-container {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ff0000;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold;
    display: none;
    z-index: 2;
}
