body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.welcome-screen, .main-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome-screen {
    background-color: #000;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}

.loading-icon {
    font-size: 1.5em;
    margin-top: 20px;
}

.main-screen {
    display: none;
}

.bingo-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pseudo-input-container {
    margin-bottom: 20px;
}

.bingo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000; /* Ensure background is black */
    color: #fff; /* Ensure text is white */
}

.bingo-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 300px;
    padding: 20px;
    background: linear-gradient(45deg, #000, #555); /* Background gradient black to dark grey */
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.bingo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    background-color: transparent; /* Transparent background */
}

.bingo-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    color: #000;
    border: 1px solid #555;
}

.bingo-cell.checked {
    background-color: #4caf50;
    color: #fff;
}

.bingo-cell.bingo {
    background-color: #2196f3;
    color: #fff;
}

.bingo-message-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center; /* Center align */
}

.bingo-message {
    font-size: 2.5em;
    font-weight: bold;
    color: #2196f3;
    display: none;
    animation: color-change 0.5s infinite;
}

.controls {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.controls button,
.controls a {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screenshot-button {
    background-color: #B48205;
}

.screenshot-button img {
    margin-right: 10px;
}

.restart-button {
    background-color: #2196f3;
}

.discord-button {
    background-color: #7289da;
}

.discord-button img {
    margin-right: 10px;
}

.twitch-button {
    background-color: #6441a5;
}

.twitch-button img {
    margin-right: 10px;
}

.pseudo-input {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.pseudo-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #2196f3;
    color: #fff;
}

@keyframes color-change {
    0% { color: #2196f3; }
    25% { color: #e91e63; }
    50% { color: #ffeb3b; }
    75% { color: #4caf50; }
    100% { color: #2196f3; }
}

.pseudo-header {
    grid-column: span 5;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    background-color: transparent; /* Transparent background */
    display: none; /* Initially hidden */
}

.footer {
    position: absolute;
    bottom: 10px;
    font-size: 1em;
    text-align: center;
    width: 100%;
}
